.container-fluid {
    width: 100%;
}

@media (min-width: 600px) {
    .container-fluid {
        width: 50%;
    }
}
@media (max-width: 500px) {
    #myModal {
        width: 95%;
    }
}
hr{
    margin: 0px;
    height: 1px;
}

.countdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.time{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.time *{
    margin-top: 10px;
}
.time_title{
    font-size: 20px;
}
.hour, .minute, .second{
    display: flex;
    justify-content: center;
}
#hour1, #hour2, #minute1, #minute2, #second1, #second2{
    margin: 2px;
    padding: 10px;
    background-color: #404040;
    color: #3399FF;
    font-size: 30px;
    border-radius: 10%;
}
.divide{
    margin:10px;
    padding-top: 17%;
}
.logo_row_mobile{
    background-color: black;
    height: 60px;
}
.logo_row_pc{
    background-color: black;
    height: 60px;
}
.logo{
    position: absolute;
    color: white;
    margin: 10px;
    font-size: 25px;
}
#contact{
    position: absolute;
    margin: 20px 0px;
    right: 20px;
    color: white;
}
.navbar_row{
    display: flex;
    justify-content: center;
    background-color: #000099;
    height: 35px;
}
.navbar_element{
    color:white;
    margin: 5px 20px;
    padding: 1px;
    font-size: 12px;
}
.background_row{
    background-color: white;
}
#background{
    max-width: 100%; 
    height: auto;
}
.label_row{
    background-color: white;
    height: 20%;
}
.link_element{
    display: inline-block;
    font-size: 15px;
    color: #0000CC;
    margin: 5px 0px;
}
.info_row{
    background-color: #E0E0E0;
}
.phone{
    padding-top: 30px;
}
.phone *{
    display: inline-block;
}
.phone .heading{
    font-weight: bold;
}
.email *{
    display: inline-block;
}
.email .heading{
    font-weight: bold;
}
.card{
    height:auto;
    width: 85%;
}
.card-body{
    background-color: white;
}
.footer_row{
    background-color: black;
    height: auto;
    padding-bottom: 30px;
}
.footer_row  *{
    color: white;
}
.footer{
    width: 80%;
}
@media (max-width: 992px) {
    .line1a, .line2a, .line3a{
        display: none;
    }
}
.line1 *, .line2 *, .line3 *{
    display: inline-block;
}
.fa{
    color:white;
}
#myLinks{
    background-color: #262626;
    display: none;
    margin-top: 58px;
    left: 0px;
}
#myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
a#navbar_icon{
    display: block;
    margin-top: 15px;
    font-size: 20px;
    position: absolute;
}